@font-face {
    font-family: "ali";
    src: url("./assets/AlimamaFangYuanTiVF-Thin.ttf");
}

@font-face {
    font-family: "ye";
    src: url("./assets/YeZiGongChangSiMeiRenSongTi-2.ttf");
}

@font-face {
    font-family: "yao";
    src: url("./assets/方正姚体.ttf");
}
